.App {
  text-align: center;
}

.gender {
  color: blue;
}

.person {
  background-color: rgba(226, 226, 226, 0.356);
  border: 1px solid black;
  max-width: 300px;
  margin: 20px auto;
}


/* learning javascript is all the time great, you need to know basically anything.  */